[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(65)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    
    SET_GCODE_OFFSET Z=0 ; Reset Z offset
    G28 ; Home all axes
    G90 ; Set to absolute positioning
    M83 ; Extruder relative mode
        
    # Start heating
    M140 S{BED_TEMP} ; Set bed temp
    
    # Wait for bed
    M190 S{BED_TEMP}

    QUAD_GANTRY_LEVEL

    M109 S150 ; Ensure nozzle is at 150C, in case it was hot when print started.
    CARTOGRAPHER_TOUCH_HOME ; Home for real Z0
    
    BED_MESH_CALIBRATE ADAPTIVE=1
    
    # Heat nozzle to final temp
    M104 S{EXTRUDER_TEMP}
    M109 S{EXTRUDER_TEMP}
    
    # Prime line
    G1 Z2.0 F3000 ; Move Z Axis up
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move side
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up

[gcode_macro END_PRINT]
gcode:
  # Move nozzle away from print while retracting
  M83 ; Relative E
  G91 ; Relative XYZ
  G1 X-2 Y-2 Z+5 E-3 F300
  G90 ; Absolute XYZ
  M82 ; Absolute E
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M106 S50 ; Leave fan running to protect cooling ducts.
  UPDATE_DELAYED_GCODE ID=fan_off_timer DURATION=180 ; Turn part fan off after 3 minutes
  # Present print
  G1 X-5 Y235 F3000 ; present print
  # Disable steppers
  M84

[gcode_macro PRINT_START]
gcode:
    START_PRINT {rawparams}

[gcode_macro PRINT_END]
gcode:
    END_PRINT {rawparams}

[delayed_gcode fan_off_timer]
gcode:
    M107 ; Turns off the part cooling fan

[gcode_macro QUAD_GANTRY_LEVELLING]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    QUAD_GANTRY_LEVEL
    G28 Z

[gcode_macro BED_MESH]
gcode:
    QUAD_GANTRY_LEVELLING
    BED_MESH_CALIBRATE
    
[gcode_macro TEST_MOVEMENT]
gcode:
  
  {% if printer.toolhead.homed_axes != "xyz" %}
      G28
  {% endif %}

  {% set X_MIN = 10|float %}
  {% set Y_MIN = 10|float %}
  {% set X_MAX = 340|float %}
  {% set Y_MAX = 340|float %}
   
  G90
  G0 X{X_MIN} Y{Y_MIN} F20000
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MAX}
  
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}

  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MAX} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MIN} Y{Y_MAX}

  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MIN}
  G0 X{X_MAX} Y{Y_MAX}
  G0 X{X_MIN} Y{Y_MIN}

  G0 X175 Y175
  
    