# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON2 250/300/350mm BigTreeTech OctoPus V1 TMC2209 UART config

[include mainsail.cfg]
[include stepper.cfg]
[include Orbitool_O2S.cfg]
[include dragonburner_led_effects_barf.cfg]
[include macros.cfg]

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_Octopus_v1.1-if00
restart_method: command

[mcu cartographer] 
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_22002F001943303854303720-if00
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer
x_offset: 0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 30 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output

[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 30, 30 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 320, 320 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
fade_start: 1
fade_end: 10
fade_target: 0

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.

[force_move]
enable_force_move: True

[safe_z_home]
home_xy_position: 175,175
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 100.0
z_hop: 10

[quad_gantry_level]
speed: 100
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
horizontal_move_z: 10
max_adjust: 10
retries: 3
retry_tolerance: 0.01

[printer]
kinematics: corexy
max_velocity: 500  
max_accel: 10000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#[autotune_tmc stepper_x]
#motor: ldo-42sth48-2004mah
#[autotune_tmc stepper_y]
#motor: ldo-42sth48-2004mah

#[autotune_tmc stepper_z]
#motor: ldo-42sth48-2004ac
#[autotune_tmc stepper_z1]
#motor: ldo-42sth48-2004ac
#[autotune_tmc stepper_z2]
#motor: ldo-42sth48-2004ac
#[autotune_tmc stepper_z3]
#motor: ldo-42sth48-2004ac

#####################################################################
#   Input Shaping
#####################################################################

[shaketune]
number_of_results_to_keep: 3
# keep_raw_data: False
show_macros_in_webui: True
# timeout: 600
# measurements_chunk_size: 2
max_freq: 200

[input_shaper]
shaper_freq_x: 60.4
shaper_freq_y: 39.6
shaper_type: mzv

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3

## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[controller_fan Electronics_Fan1]
pin: PD14
max_power: .25
stepper: stepper_x, stepper_y, stepper_z

[controller_fan Electronics_Fan2]
pin: PD15
max_power: .25
stepper: stepper_x, stepper_y, stepper_z

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

##  mini12864 LCD Display
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
spi_bus: spi1
click_pin: ^!EXP1_2
contrast: 63
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

##  To control Neopixel RGB in mini12864 display
[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
color_order: RGB

[respond]

[neopixel chamber_lights]
pin: PB0
chain_count: 36
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 0.0
color_order: GRB

[output_pin BEEPER]
pin: EXP1_1
pwm: TRUE
value: 0
shutdown_value: 0
# PWM frequency : 0.001 = 1ms will give a base tone of 1kHz
cycle_time: 0.0024

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=btt_mini12864 RED=0 GREEN=1 BLUE=0 INDEX=3

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.3385409591831432,1.8270421427028984,0.8233065906060751,0.18218163658969722,0.6469061620470016,1.4392874545432361,-0.6628454462347376,-1.7567546190290004,0.6515284265223271,1.0073037551449413
#*# domain = 3.1244196726364716e-07,3.338724736206928e-07
#*# z_offset = 0
#*# reference_temperature = 24.13
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 2400
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.1
#*# mcu_version = CARTOGRAPHER V3 6.1.0
